{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">
    <div class="card">
    <div class="card-header">
        <h2 class="card-title">Categories</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped">
        	<thead>
        		<tr>
        			<th>Category Name</th>
        			<th></th>
        		</tr>
        	</thead>
        	<tbody>
        		{% for category in categories %}
        		<tr>
        			<td>{{category.name}}</td>
        			<td>
        				<a href="{{url('homepage')}}category/edit/{{category.id}}" class="btn btn-secondary">Edit</a>
        				<a href="{{url('homepage')}}category/edit/{{category.id}}" class="btn btn-danger">Delete</a>
        			</td>
        		</tr>
        		{% endfor %}
        	</tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}
